@model List<Divar.Models.CategoryType>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a href="@Url.Action("Index", "home", new { category = category })">@category.ToString()</a>
        </li>
    }
</ul>
