@model RegisterViewModel

<link href="~/css/Register.css" rel="stylesheet" />

<h1 style="text-align: center;">ثبت نام کاربر</h1>

<form id="registrationForm" asp-action="Register" method="post">
    <div>
        <label>نام</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label>نام خانوادگی</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label>ایمیل</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label>شماره تلفن</label>
        <input asp-for="PhoneNumber" type="text" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>

    <div>
        <label>رمز عبور</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">ثبت‌نام</button>
</form>
