.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: green;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .button:hover {
        background-color: darkgreen;
    }

.button-container {
    text-align: center; /* وسط‌چین کردن */
    margin-top: 20px; /* فاصله از بالای صفحه */
}

.btn-success {
    background-color: green; /* رنگ پس‌زمینه سبز */
    color: white; /* رنگ متن سفید */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}


th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td img {
    max-width: 100px;
    height: auto;
}
